/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* 
body {
    font-family: 'Roboto', sans-serif;
} */


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  padding: 25px 0;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  color: #fff;
  background-color: #01996d;
  padding: 12px 36px;
  text-transform: uppercase;
  border: 1px solid #01996d;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #292929;
}

.btn__second {
  color: #01996d;
  padding: 12px 36px;
  text-transform: uppercase;
  border: 1px solid #01996d;
  margin-right: 12px;
  transition: all 0.3s ease;
}

.btn__second:hover {
  color: #fff;
  background-color: #01996d;
}

.site__logo {
  color: #01996d;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list__item-link {
  color: #292929;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.list__item-link:hover {
  color: #01996d;
}

.main {
  padding: 123px;
  background-image: url(/images/main-bgimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 608px;
}

.main__text h1 {
  color: #01996d;
  font-size: 3.4rem;
  font-weight: bold;
  padding-top: 30px;
}

.main__text p {
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.hero{
  padding-bottom: 120px;
}

.hero__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

.hero__text p {
  width: 460px;
  color: #292929;
  font-size: 14px;
}

.hero__text .heading h3 {
  color: #292929;
  font-size: 1.2rem;
  font-weight: bold;
}

.hero__text .heading h2 {
  color: #01996d;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 20px;
}

.all__box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: left;
}

.hero__box h3{
  color: #01996D33;
  font-size: 5rem;
}

.hero__box h4{
  color: #292929;
  padding: 20px 0;
  font-size: 1.3rem;
}

.hero__box p{
  color: #424242;
  font-size: 14px;
  padding-bottom: 40px;
  font-weight: 400;
  max-width: 270px;
}

.top{
  margin-top: 350px;
}

.top__two{
  margin-top: 150px;
}

.hero__box img{
  width: 350px;
  height: 400px;
  border-radius:10%;
}

.success{
  background-color: #245852;
  padding: 100px 50px;
}

.success img{
  width: 700px;
  height: 400px;
}

.success__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success__text h2{
  color: #fff;
  font-size: 2.4rem;
  font-weight: bolder;
  max-width: 400px;
}

.success__text p{
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 60px 0;
}


